node_modules/
**/node_modules/
.next/
**/.next/
dist/
**/dist/
build/
**/build/
.DS_Store
*.log
*.zip
*.tar.gz
*.rar
public_html/upload.zip
public_html/InfixLMS_Package/
skilltosettle/extracted/
*.sql
